{% extends 'base.html' %}

{% block content %}
<div class="columns is-centered">
    <div class="column is-one-third">
        <div class="card">
            <div class="card-content">
                <h1 class="title is-3 has-text-centered">Sign Up</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control has-icons-left">
                            {{ form.username }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                        {% if form.username.errors %}
                        <p class="help is-danger">{{ form.username.errors|first }}</p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control has-icons-left">
                            {{ form.password1 }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                        {% if form.password1.errors %}
                        <p class="help is-danger">{{ form.password1.errors|first }}</p>
                        {% endif %}
                    </div>

                    <div class="field">
                        <label class="label">Confirm Password</label>
                        <div class="control has-icons-left">
                            {{ form.password2 }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                        {% if form.password2.errors %}
                        <p class="help is-danger">{{ form.password2.errors|first }}</p>
                        {% endif %}
                    </div>

                    <button class="button is-success is-fullwidth" type="submit">Sign Up</button>
                </form>
                <p class="has-text-centered mt-3">Already have an account? <a href="{% url 'dwitter:login' %}">Log
                        in</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}